* html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: #F0F0F0;
}
.anton {
    font-family: 'Anton', sans-serif;
}

.abel {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 64px;

}

h2 {
    font-size: 48px;

}

h3 {
    font-size: 40px;

}

h4 {
    font-size: 32px;

}

h5 {
    font-size: 28px;

}


#container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 2fr 2fr 1fr 2fr 1fr 105px 105px 3fr 4fr 2fr;*/
    grid-gap: 6px;
    height: 100vh;
    width: 100vw;
    grid-template-areas: ' .  .  .  .  .  .  .  .  .  .  .  .' ' wb wb wb  wb wb wb  wb wb wb  wb wb wb ' ' .  .  . lgt lgt lgt  lgt lgt lgt . . . ' ' . . smlgt smlgt smlgt smlgt smlgt smlgt smlgt smlgt . .' ' . bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt .' ' . . pc pc pc pc pc pc pc pc . . ' ' . redc redc redc redc redc yellowc yellowc yellowc yellowc yellowc .' ' . greenc greenc greenc greenc greenc bluec bluec bluec bluec bluec  .' ' .  .  .  . sel sel sel sel  .  .  .  .' ' . img1 img1 img1 img1 img1 img1 img1 img1 img1 img1 .' '. proj proj proj proj .  . bar bar bar bar . ';
}


#logo {
    grid-area: lg;
}

#whitebar {
    grid-area: wb;
    background-color: white;
    width: 110%;
}

#logotext {
    grid-area: lgt;
    margin: auto;
}

#smlogotext {
    grid-area: smlgt;

}

#smlogoflex{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
#biglogotext {
    grid-area: bglgt;
    text-align: center;

}

#parkcity {
    grid-area: pc;
    margin:auto;

}

.colorcircles{
    height: 262px;
    width: 262px;
    border-radius: 50%;
    border: 20px solid white;
    text-align: center;


}


.leftcircle{
    margin-left: 50%;
    transform: translateX(-50%);

}

.rightcircle{
    margin-right: 50%;
    /*transform: translateX(-50%);*/

}

.bottomcircle{
    margin-top: 20px;
    margin-bottom: 350px;
}
.circletext{
    margin-top: 37%;
    color: white;

}

#redcircle {
    grid-area: redc;
    background-color: #E6563B;

}

#yellowcircle {
    grid-area: yellowc;
    background-color: #EB9D3A;

}

#greencircle {
    grid-area: greenc;
    background-color: #7CB06C;
}

#bluecircle {
    grid-area: bluec;
    background-color: #00ABA9;

}

#selectedwork {
    grid-area: sel;
    margin: auto;

}

#img1 {
    background-color: #F0F0F0;
    grid-area: img1;

}

#featuredproject {
    grid-area: proj;

}

#smcirclebar {
    grid-area: bar;

}