html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}


body {
    background-color: #F0F0F0;
    margin: 0;
    /*align-items: center;*/

}


.red {
    background-color: #E6563B;
}

.yellow {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

.anton {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}

.abel {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}


#container {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 20px repeat(10, 1fr) 20px;
    justify-content: center;
    align-content: center;
    /*grid-template-rows: 1fr 2fr 2fr 1fr 2fr 1fr 105px 105px 3fr 4fr 2fr;*/
    grid-gap: 0;
    height: 100%;
    width: 100vw;
    grid-template-areas: ' .  .  .  .  .  .  .  .  .  .  .  . '
    ' wb wb wb wb  wb wb wb  wb wb wb  wb wb  '
    ' .  .  lgt lgt lgt lgt  lgt lgt lgt lgt . . '
    ' .  . smlgt smlgt smlgt smlgt smlgt smlgt smlgt smlgt . . '
    ' bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt '
    ' . pc pc pc pc pc pc pc pc pc pc . '
    '.  redc redc redc redc redc yellowc yellowc yellowc yellowc yellowc .'
    '.  greenc greenc greenc greenc greenc bluec bluec bluec bluec bluec . '
    '.   .  .  sel sel sel sel sel  sel  .  .  .'
    ' . imgmob imgmob imgmob imgmob imgmob imgmob imgmob imgmob imgmob imgmob .'
    '. proj proj proj proj .  bar bar bar bar bar  .';
}


#logo {
    grid-area: lg;
    /*position: absolute;*/
    /*margin-top: 180px;*/
    /*margin-left: 50%;*/
    /*transform: translateX(-50%);*/
    margin: auto;
    height: 105px;
    width: 105px;
    /*align-items: center;*/
    /*vertical-align: middle;*/

}

#logoimg {
    height: 100%;
    width: 100%;
    z-index: 2;
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top:*/
    margin: auto;
    margin-top: -20px;
    vertical-align: middle;

    /*position: absolute;*/

}

#whitebar {
    grid-area: wb;
    background-color: white;
    width: 100%;
    /*margin-left: 0;*/
    /*display: flex;*/
    /*text-align: center;*/
}

#logotext {
    grid-area: lgt;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    height: 120px;
    /*transform: translateX(-50%);*/
    padding: 0;
    /*white-space: nowrap;*/

}

#logotext h3 {
    /*margin: auto;*/
}

#smlogotext {
    grid-area: smlgt;


}

#smlogoflex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    height: 10px;
}

#smlogoflex li {
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

#biglogotext {
    grid-area: bglgt;
    text-align: center;
    /*display: inline-block;*/
    height: 150px;
}

#biglogotext h3 {
    /*margin: none;*/
}

#parkcity {
    grid-area: pc;
    /*margin:auto;*/
    text-align: center;


}

.colorcircles {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 5px solid white;
    text-align: center;
}


.leftcircle {
    margin-right: -10%;
    /*margin-left: 20px;*/
    /*margin-left: 10%;*/
    /*margin-left: 50%;*/
    /*transform: translateX(-50%);*/

}

.rightcircle {
    /*margin-right: 0%;*/
    /*margin-right: 50%;*/
    /*transform: translateX(-50%);*/
}

.topcircle {
    margin: auto;
}

.bottomcircle {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 100px;
}

.circletext {
    /*margin-top: 37%;*/
    color: white;
    line-height: 105px;

}

#redcircle {
    grid-area: redc;
    background-color: #E6563B;
    margin-right: 5px;

}

#yellowcircle {
    grid-area: yellowc;
    background-color: #EB9D3A;
    margin-left: 5px;


}

#greencircle {
    grid-area: greenc;
    background-color: #7CB06C;
    margin-right: 5px;


}

#bluecircle {
    grid-area: bluec;
    background-color: #00ABA9;
    margin-left: 5px;


}

#selectedwork {
    grid-area: sel;
    text-align: center;
    margin-bottom: 30px;
    white-space: nowrap;

}

#imgformobilescreen {
    background-color: #F0F0F0;
    grid-area: imgmob;
    border: 20px solid #E6E6E6;
    border-radius: 10px;
}

#featuredproject {
    grid-area: proj;
    /*margin-top: -30px;*/
    margin-bottom: 50px;
    white-space: nowrap;


}

#smcirclebar {
    grid-area: bar;
    margin-top: -10px;
    /*display: flex;*/

}

#smcirclebar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    line-height: 18px;

}

.smallcircs {
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

/*.lowimgflexbar {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*#smallredxs {*/
    /*!*background-color: #E6563B;*!*/
/*}*/

/*#smallyellowxs {*/
    /*!*background-color: #EB9D3A;*!*/
/*}*/

/*#smallgreenxs {*/
    /*!*background-color: #7CB06C;*!*/
/*}*/

/*#smallbluexs {*/
    /*!*background-color: #00ABA9;*!*/
/*}*/

#smcircrow{
    display:none;
}

#hrsmall {
    display: none;
}

#imgcardsm1, #imgcardsm2, #imgcardsm3, #imgcardsm4 {
    display: none;
}
#thelast{
    display:none;
}

#imgcardlg1, #imgcardlg2, #imgcardlg3, #imgcardlg4 {
    display: none;
}

#art {
    display: none;
}
/* Start of Small Screen */

@media screen and (min-width: 576px){


    #container {
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns:  repeat(8, 1fr);
        justify-content: center;
        align-content: center;
        /*grid-template-rows: 1fr 2fr 2fr 1fr 2fr 1fr 105px 105px 3fr 4fr 2fr;*/
        grid-gap: 0;
        height: 100%;
        width: 100vw;
        grid-template-areas:
                ' . . . . . . . . '
                'wb wb wb wb wb wb wb wb '
                '. . lgt lgt lgt lgt . . '
                'bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt'
                '. pc pc pc pc pc pc . '
                '. crc crc crc crc crc crc .'
                '. . . sel sel . . .'
                '. img1 img1 img1 img2 img2 img2 .'
                '. img3 img3 img3 img4 img4 img4 .';


    /*   ------------------------------------- see on row 2, wbf1 and wbf2, we could use this to position the flexboxes for nav bar, we would have to add 2 ul's with ids, thoughts?------------------------------------------------*/
    /*' . . . . . . . . '*/
    /*'wb wbf1 wbf1 wb wbf2 wbf2 wb wb '*/
    /*'. . lgt lgt lgt lgt . . '*/
    /*'bglgt bglgt bglgt bglgt bglgt bglgt bglgt bglgt'*/
    /*'. pc pc pc pc pc pc . '*/
    /*'. crc crc crc crc crc crc .'*/
    /*'. . . sel sel . . .'*/
    /*'. img1 img1 img1 img2 img2 img2 .'*/
    /*'. img3 img3 img3 img4 img4 img4 .';*/
    }

    #imgcardsm1 {
        grid-area: img1;
    }
    #imgcardsm2 {
        grid-area: img2;


    }
    #imgcardsm3 {
        grid-area: img3;

    }
    #imgcardsm4 {
        grid-area: img4;

    }

    #imgcardsm1, #imgcardsm2, #imgcardsm3, #imgcardsm4 {
        display: inline-block;
    }

    .smallcircssm {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        line-height: 18px;
        text-align: center;

    }

    .imgsm {
        height: 90%;
        width: 90%;
        border: 10px solid #E6E6E6;
        border-radius: 10px;
    }


        br{
            display: none;
        }

        #biglogotext{
            white-space: nowrap;
        }

        /*this class hides elements on XS/mobile sized screens*/
        .xshide{
            display:none;
        }

        #smcircrow{
            display: inline-block;
            grid-area: crc;
            padding: 0;
        }

        #smcircrow ul{
            display: flex;
            justify-content: space-between;
            padding: 0;


        }

        #smcircrow ul li{
           list-style: none;

        }

    #smcircrow ul li div{
        height: 105px;
        width: 105px;
        border-radius: 50%;
        border: 5px solid white;
        text-align: center;

    }

    #redcirclexs {
        grid-area: redc;
        background-color: #E6563B;
        margin-right: 5px;

    }

    #yellowcirclexs {
        grid-area: yellowc;
        background-color: #EB9D3A;
        margin-left: 5px;


    }

    #greencirclexs {
        grid-area: greenc;
        background-color: #7CB06C;
        margin-right: 5px;


    }

    #bluecirclexs {
        grid-area: bluec;
        background-color: #00ABA9;
        margin-left: 5px;


    }

    #hrsmall {
        display: inline-block;
        color: #E6E6E6;
        width:84%;
        text-align: center;
        margin-left: 8%;

    }

    .smhide {
        display: none;
    }
    }
    #thelast{
        display:none;
    }

#imgcardlg1, #imgcardlg2, #imgcardlg3, #imgcardlg4 {
    display: none;
}

#art {
    display: none;
}
/* Media Query for Large Screens */

@media screen and (min-width: 992px) {

    #container {
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        /*grid-template-rows: 1fr 2fr 2fr 1fr 2fr 1fr 105px 105px 3fr 4fr 2fr;*/
        grid-gap: 0;
        height: 100%;
        width: 100vw;
        grid-template-areas:
                "  . .  .  "
                " wb wb  wb  "
                "  bglgt bglgt bglgt  "
                " .  pc  .  "
                "  crc  crc  crc  "
                "  sel  .  last  "
                "  imglg1 imglg2 art1  "
                " imglg3 imglg4 art1  ";

    }

    /*add grid area for new img and art*/
    /*need to add "last"*/
    #art {
        grid-area: art1;
        display: inline-block;
        margin-top: -45px;
    }

    #imgcardlg1 {
        grid-area: imglg1;

    }

    #imgcardlg2 {
        grid-area: imglg2;
    }

    #imgcardlg3 {
        grid-area: imglg3;
    }

    #imgcardlg4 {
        grid-area: imglg4;
    }

    #thelast {
        grid-area: last;
        display:inline-block;
    }

    #imgcardsm1, #imgcardsm2, #imgcardsm3, #imgcardsm4 {
        display: none;
    }
    #logotext{
        display:none;

    }
    #imgcardlg1, #imgcardlg2, #imgcardlg3, #imgcardlg4 {
        display: inline-block;
    }

    #art ul {
        list-style-type: none;
    }
    #smcircrow ul{
        margin-left: 200px;
        margin-right:200px;
        display: flex;
        justify-content: space-between;
        padding: 0;


    }

    }

@media screen and (min-width: 1200px) {

    #container {
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: 15% repeat(3, 1fr) 15%;
        justify-content: center;
        align-content: center;
        /*grid-template-rows: 1fr 2fr 2fr 1fr 2fr 1fr 105px 105px 3fr 4fr 2fr;*/
        grid-gap: 0;
        height: 100%;
        width: 100vw;
        grid-template-areas:
                ".  .  .  .  ."
                "wb wb wb wb wb"
                ". bglgt bglgt bglgt ."
                ".  .  pc  .  ."
                ".  crc  crc  crc  ."
                ".  sel  .  last  ."
                ".  imglg1 imglg2 art1  ."
                ". imglg3 imglg4 art1  .";

    }


}
